<mat-card class="login-card">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Login</h2>
      <mat-form-field appearance="fill" class="form-group">
        <mat-label>Email</mat-label>
        <input placeholder="usuario" matInput formControlName="email" />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Usuário é obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-group">
        <mat-label>Senha</mat-label>
        <input placeholder="senha" matInput [type]="'password'" formControlName="password" />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Senha é obrigatória</mat-error>
      </mat-form-field>
      <div class="actions">
        <a href="#" (click)="onForgotPassword()">Esqueceu a senha?</a>
      </div>
      <div class="buttons">
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Entrar</button>
      </div>
    </form>
  </mat-card>
  