<form [formGroup]="funcionarioForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input placeholder="Nome" matInput formControlName="nome">
    <mat-error *ngIf="formControl('nome').invalid && formControl('nome').touched">Nome é obrigatório</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input placeholder="E-mail" matInput formControlName="email">
    <mat-error *ngIf="formControl('email').invalid && formControl('email').touched">Email inválido</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Data de Contratação</mat-label>
    <input placeholder="Data de Contratação" matInput [matDatepicker]="picker" formControlName="dataContratacao">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>CPF</mat-label>
    <input placeholder="CPF" matInput formControlName="cpf">
    <mat-error *ngIf="formControl('cpf').invalid && formControl('cpf').touched">CPF inválido</mat-error>
  </mat-form-field>

  <div formGroupName="endereco" class="address-group">
    <mat-form-field appearance="fill" >
      <mat-label>Rua</mat-label>
      <input placeholder="Rua" matInput formControlName="street">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>CEP</mat-label>
      <input placeholder="CEP" matInput formControlName="cep">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Bairro</mat-label>
      <input placeholder="Bairro" matInput formControlName="bairro">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cidade</mat-label>
      <input placeholder="Cidade" matInput formControlName="cidade">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Estado</mat-label>
      <input placeholder="Estado" matInput formControlName="estado">
    </mat-form-field>
    <div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!funcionarioForm.valid">Cadastrar</button>
  </div>
  </div>

  
</form>