form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  mat-form-field {
    width: 100%;
  }

  button {
    width: 100%;
    align-self: flex-end;
  }
  .full-width {
    width: 100%; 
  }

  

  .address-group {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
