<form class="ajuste-form" [formGroup]="funcionarioForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nome</mat-label>
    <mat-icon matPrefix>person</mat-icon>
    <input
      placeholder="Nome"
      matInput
      formControlName="nome"
      aria-label="Nome"
    />
    <mat-error
      *ngIf="formControl('nome').invalid && formControl('nome').touched"
      >Nome é obrigatório</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <mat-icon matPrefix>email</mat-icon>
    <input
      placeholder="E-mail"
      matInput
      formControlName="email"
      aria-label="Email"
    />
    <mat-error
      *ngIf="formControl('email').invalid && formControl('email').touched"
      >Email inválido</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Data de Contratação</mat-label>
    <mat-icon matPrefix>event</mat-icon>
    <input
      placeholder="Data de Contratação"
      matInput
      [matDatepicker]="picker"
      formControlName="dataContratacao"
      aria-label="Data de Contratação"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>CPF</mat-label>
    <mat-icon matPrefix>badge</mat-icon>
    <input placeholder="CPF" matInput formControlName="cpf" aria-label="CPF" />
    <mat-error *ngIf="formControl('cpf').invalid && formControl('cpf').touched"
      >CPF inválido</mat-error
    >
  </mat-form-field>

  <div class="address-group-container">
    <div formGroupName="endereco" class="address-group">
      <mat-form-field appearance="outline">
        <mat-label>Rua</mat-label>
        <mat-icon matPrefix>location_on</mat-icon>
        <input
          placeholder="Rua"
          matInput
          formControlName="street"
          aria-label="Rua"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>CEP</mat-label>
        <mat-icon matPrefix>map</mat-icon>
        <input
          placeholder="CEP"
          matInput
          formControlName="cep"
          aria-label="CEP"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Bairro</mat-label>
        <mat-icon matPrefix>home</mat-icon>
        <input
          placeholder="Bairro"
          matInput
          formControlName="bairro"
          aria-label="Bairro"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cidade</mat-label>
        <mat-icon matPrefix>location_city</mat-icon>
        <input
          placeholder="Cidade"
          matInput
          formControlName="cidade"
          aria-label="Cidade"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <mat-icon matPrefix>public</mat-icon>
        <input
          placeholder="Estado"
          matInput
          formControlName="estado"
          aria-label="Estado"
        />
      </mat-form-field>
    </div>

    <div class="file-upload-container">
      <label for="file-upload" class="file-upload-label" matTooltip="Clique para adicionar uma foto. Não é obrigatório." matTooltipPosition="above">
        <mat-icon>upload</mat-icon> Foto
      </label>
      <input
        accept=".png, .jpg, .jpeg, .gif, .bmp, .webp"
        id="file-upload"
        type="file"
        class="file-upload-input"
        (change)="onFileChange($event)"
      />
    </div>
  </div>

  <div *ngIf="showSuccessMessage" class="success-message">
    <div class="success-content">
      <mat-icon>check_circle</mat-icon> Arquivo enviado com sucesso!
    </div>
  </div>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!funcionarioForm.valid"
    aria-label="Cadastrar"
  >
    Cadastrar
  </button>
</form>
